@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Regular";
    src: local("InterTight-Regular"),
    url('./InterTight-Regular.ttf') format("truetype");

}

@font-face {
    font-family: "SemiBold";
    src: local("InterTight-SemiBold"),
    url('./InterTight-SemiBold.ttf') format("truetype");
}